<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arthurf.tcc.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Controller.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Controller.UserAreaActivity" />
        <activity android:name=".Controller.ListaDeConvidadosActivity" />
        <activity android:name=".Controller.OcorrenciasActivity" />
        <activity android:name=".Controller.AnunciosActivity" />
        <activity android:name=".Controller.ReuniaoActivity" />
        <activity android:name=".Controller.LocacaoActivity" />
        <activity android:name=".Controller.EventosActivity" />
        <activity android:name=".Controller.DescricaoAnuncioActivity" />
        <activity android:name=".Controller.ListaReuniao"></activity>
    </application>

</manifest>